---
  - name: Install the puppet repo package [yum]
    yum: name=https://yum.puppetlabs.com/puppetlabs-release-el-7.noarch.rpm
    become: yes

  - name: Install all the required packages for a puppetmaster [yum]
    yum: name=puppet-server state=latest
    become: yes

  - name: Install all the required packages for a puppet
    yum: name=puppet state=latest
    become: yes

  - name: Install puppetdb
    yum: name=puppetdb state=latest
    become: yes

  - name: Install hiera
    yum: name=hiera state=latest
    become: yes

  - name: Install git
    yum: name=git
    become: yes

  - name: install r10k
    command: gem install --verbose r10k creates="/usr/local/bin/r10k"
    become: no

  - name: Start the puppetmaster service
    service: name=puppetmaster state=restarted
    become: yes

  - name: puppet agent --test
    command: puppet agent --test --server {{ansible_fqdn}} creates=/var/lib/puppet/ssl/certs/{{ ansible_fqdn }}
    become: yes

  - name: puppetdb ssl-setup
    command: puppetdb ssl-setup creates="/etc/puppetdb/ssl"
    become: yes

  - name: Install default hiera.conf
    template: src=templates/hiera.conf.j2 dest=/etc/puppet/hiera.conf owner=root group=root mode=0644
    become: yes

  - name: Install default puppet.conf
    template: src=templates/puppet.conf.j2 dest=/etc/puppet/puppet.conf owner=root group=root mode=0644
    become: yes

  - name: Install default puppetdb.conf
    template: src=templates/puppetdb.conf.j2 dest=/etc/puppet/puppetdb.conf owner=root group=root mode=0644
    become: yes

  - name: Install default r10k.yaml
    template: src=templates/r10k.yaml.j2 dest=/etc/r10k.yaml owner=root group=root mode=0644
    become: yes

  - name: r10k deploy
    command: r10k deploy environment creates="/etc/puppet/environments/master"
    become: yes

  - name: install puppet-lint
    gem: name=puppet-lint
    become: no

  - name: Start all the services.
    service: name={{item}} state=restarted
    become: yes
    with_items:
      - puppetmaster
      - puppetdb

